﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div class="d-flex justify-content-around">
        @await Html.PartialAsync("Partials/_Reg")
        @await Html.PartialAsync("Partials/_Login")
    </div>
</div>